div.anasayafadiv {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 1s, height 1s, transform 1s;
}

.anasayafadiv:hover {
    cursor: auto;
    transform: rotate(-15deg);
    /*transition: all 0.5s ease-in-out 0s;*/
}

.dashboard {
    /*max-width:400px;*/
    /*max-height:500px*/
}

.dashboardParent {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

    .dashboardParent:hover {
        transform: scale(1.1);
        box-shadow: #757575 10px 10px;
        transition-duration: 1.5s;
    }

.parent {
    height: 250px;
    width: 250px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

    .parent:hover {

    }

.dashboardCampusParent {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
    .dashboardCampusParent:hover {
        transform: scale(1.1);
        box-shadow: #757575 10px 10px;
        transition-duration: 1.5s;
    }

h4.inf {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a {
    text-decoration: none
}

    a:hover {
        text-decoration: underline
    }
